@model IEnumerable<BLMS.Models.License.LicenseAdmin>

@{
    ViewData["Title"] = "Application Tracking";
}

<section class="section align-baseline">
    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-12">
            <div class="card card-cascade cascading-admin-card user-card">
                <!-- Card Data -->
                <div class="admin-up d-flex justify-content-start">
                    <i class="fas fa fa-chart-line info-color py-4 mr-3 z-depth-2"></i>
                    <div class="data">
                        <h5 class="font-weight-bold dark-grey-text">
                            Application Tracking
                        </h5>
                    </div>
                </div>
                <!-- Card Data -->
                <!-- Card content -->
                <div class="card-body card-body-cascade">
                    <!-- Grid row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="alert" class="form-group">
                                @Html.Raw(@ViewBag.Alert)
                            </div>

                            <div class="table table-wrapper table-responsive-sm">
                                <!--Table-->
                                <table id="LicenseAdmin" class="table table-bordered table-hover mb-0">
                                    <!-- Table head -->
                                    <thead class="morpheus-den-gradient text-white">
                                        <tr>
                                            <th class="text-sm font-weight-bold align-text-top col-md-2">
                                                @Html.DisplayNameFor(model => model.UnitName)
                                            </th>
                                            <th class="text-sm font-weight-bold align-text-top col-md-2">
                                                @Html.DisplayNameFor(model => model.LicenseName)
                                            </th>
                                            <th class="text-sm font-weight-bold align-text-top col-md-1">File</th>
                                            <th class="text-sm font-weight-bold align-text-top col-md-2">
                                                @Html.DisplayNameFor(model => model.CategoryName)
                                            </th>
                                            <th class="text-sm font-weight-bold align-text-top col-md-2">Person in Charge</th>
                                            <th class="text-sm font-weight-bold align-text-top col-md-1">Issued & Expired Date</th>
                                            <th class="text-sm font-weight-bold align-text-top col-md-1">User Type</th>
                                            <th class="text-sm font-weight-bold align-text-top col-md-1">Status</th>
                                        </tr>
                                    </thead>
                                    <!-- Table head -->
                                    <!-- Table body -->
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td class="text-sm">
                                                @Html.DisplayFor(modelItem => item.UnitName)
                                            </td>
                                            <td class="text-sm">
                                                @if (item.isRequested == true | item.isApproved == true)
                                                {
                                                    <a href="@Url.Action("DetailRequest", "LicenseHQ", new {id=item.LicenseID})" class="font-weight-bold">
                                                        @Html.DisplayFor(modelItem => item.LicenseName)
                                                    </a>

                                                    <br/><br/>

                                                    @if (item.isApproved == true)
                                                    {
                                                        <a class="btn btn-outline-success btn-rounded btn-sm px-2" title="Click to Register" href="@Url.Action("RegisterLicense", "LicenseAdmin", new {id=item.DivID})">
                                                            Click to Register
                                                        </a>
                                                    }
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("DetailRegister", "LicenseHQ", new {id=item.LicenseID})" class="font-weight-bold">
                                                        @Html.DisplayFor(modelItem => item.LicenseName)
                                                    </a>
                                                }
                                            </td>
                                            <td class="text-center">
                                                @if (item.hasFile == true)
                                                {
                                                    <a class="btn btn-outline-primary btn-rounded btn-sm px-2" type="button" title="Download File" asp-controller="LicenseAdmin" asp-action="DownloadLicenseFile" asp-route-id="@item.LicenseID">
                                                        <i class="fas fa-file-alt mt-0"></i> Download
                                                    </a>
                                                }
                                            </td>
                                            <td class="text-sm">
                                                @Html.DisplayFor(modelItem => item.CategoryName)
                                            </td>
                                            <td class="text-sm">
                                                @if (string.IsNullOrEmpty(item.PIC1Name))
                                                {

                                                }
                                                else
                                                {
                                                    <label class="font-weight-bold">PIC 1:</label>
                                                    <br />
                                                    @Html.DisplayFor(modelItem => item.PIC1Name)
                                                    <br /><br />
                                                }

                                                @if (string.IsNullOrEmpty(item.PIC2Name))
                                                {

                                                }
                                                else
                                                {
                                                    <label class="font-weight-bold">PIC 2:</label>
                                                    <br />
                                                    @Html.DisplayFor(modelItem => item.PIC2Name)
                                                    <br /><br />
                                                }

                                                @if (string.IsNullOrEmpty(item.PIC3Name))
                                                {

                                                }
                                                else
                                                {
                                                    <label class="font-weight-bold">PIC 3:</label>
                                                    <br />
                                                    @Html.DisplayFor(modelItem => item.PIC3Name)
                                                }
                                            </td>
                                            <td class="text-sm text-center">
                                                @if (string.IsNullOrEmpty(item.IssuedDT))
                                                {

                                                }
                                                else
                                                {
                                                    <label class="font-weight-bold">Issued Date:</label>
                                                    @Html.DisplayFor(modelItem => item.IssuedDT)
                                                    <br /><br />
                                                }

                                                @if (string.IsNullOrEmpty(item.ExpiredDT))
                                                {

                                                }
                                                else
                                                {
                                                    <label class="font-weight-bold">Expired Date:</label>
                                                    @Html.DisplayFor(modelItem => item.ExpiredDT)
                                                }
                                            </td>
                                            <td class="text-sm">
                                                @Html.DisplayFor(modelItem => item.UserType)
                                            </td>
                                            <td class="text-center">
                                                @if (item.isRequested == true)
                                                {
                                                    <button name="button" class="btn btn-outline-warning btn-rounded btn-sm px-2" disabled>
                                                        <i class="fas fa-spinner mt-0"></i> Requested
                                                    </button>
                                                }
                                                else if (item.isApproved == true)
                                                {
                                                    <button name="button" class="btn btn-outline-info btn-rounded btn-sm px-2" disabled>
                                                        <i class="fas fa-clock mt-0"></i> Approved
                                                    </button>
                                                }
                                                else if (item.isRegistered == true)
                                                {
                                                    <button name="button" class="btn btn-outline-success btn-rounded btn-sm px-2" disabled>
                                                        <i class="fas fa-check mt-0"></i> Registered
                                                    </button>
                                                }
                                                else if (item.isRenewed == true)
                                                {
                                                    <button name="button" class="btn btn-outline-warning btn-rounded btn-sm px-2" disabled>
                                                        <i class="fas fa-exclamation mt-0"></i> Renewed
                                                    </button>
                                                }

                                                @if ((item.RenewReminderDT.Date - DateTime.Now.Date).Days > 0 | item.RenewReminderDT.ToString() == "9999-12-31 00:00:00.000")
                                                {
                                                    <button name="button" class="btn btn-outline-success btn-rounded btn-sm px-2" disabled>
                                                        <i class="fas fa-thumbs-up mt-0"></i> Active
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button name="button" class="btn btn-outline-danger btn-rounded btn-sm px-2" disabled>
                                                        <i class="fas fa-thumbs-down mt-0"></i> Not Active
                                                    </button>
                                                }
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                    <!-- Table body -->
                                </table>
                                <!-- Table -->
                            </div>
                        </div>
                    </div>
                    <!-- Grid row -->
                </div>
                <!-- Card content -->
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#LicenseAdmin').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });

        //auto hide viewbag.alert
        $(document).ready(function () {
            setTimeout(function () {
                $("#alert").fadeOut();
            }, 3000);
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
