@model IEnumerable<BLMS.Models.Admin.ErrorLog>

@{ 
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="content-wrapper">
    <!-- Page header -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="text-bold">ERROR LOG</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active">Error Log</li>
                    </ol>
                </div>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" id="audit-tab" data-toggle="tab" href="#auditlog" role="tab" aria-controls="auditlog" aria-selected="false">Audit Log</a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link" id="error-tab" data-toggle="tab" href="#errorlog" role="tab" aria-controls="errorlog" aria-selected="false">Error Log</a>
                    </li>
                </ul>

            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-body">
                <table id="auditlog" class="table table-bordered" style="width:100%">
                    <thead class="text-center table-active">
                        <tr>
                            <th class="text-sm align-text-top col-md-1">
                                No.
                            </th>

                            <th class="text-sm align-text-top col-md-1">
                                @Html.DisplayNameFor(model => model.PageName)
                            </th>

                            <th class="text-sm align-text-top col-md-1">
                                @Html.DisplayNameFor(model => model.ErrorMessage)
                            </th>

                            <th class="text-sm align-text-top col-md-1">
                                @Html.DisplayNameFor(model => model.Method)
                            </th>

                            <th class="text-sm align-text-top col-md-1">
                                @Html.DisplayNameFor(model => model.LineNumber)
                            </th>

                            <th class="text-sm align-text-top col-md-1">
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </th>

                            <th class="text-sm align-text-top col-md-1">
                                @Html.DisplayNameFor(model => model.CreatedDt)
                            </th>

                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @{

                            int i = 1;

                            foreach (var item in Model)
                            {

                                <tr>
                                    <td class="text-sm">
                                        @i
                                    </td>


                                    <td class="text-sm">
                                        @Html.DisplayFor(modelItem => item.PageName)
                                    </td>

                                    <td class="text-sm">
                                        @Html.DisplayFor(modelItem => item.ErrorMessage)
                                    </td>

                                    <td class="text-sm">
                                        @Html.DisplayFor(modelItem => item.Method)
                                    </td>

                                    <td class="text-sm">
                                        @Html.DisplayFor(modelItem => item.LineNumber)
                                    </td>

                                    <td class="text-sm">
                                        @Html.DisplayFor(modelItem => item.CreatedBy)
                                    </td>

                                    <td class="text-sm">
                                        @Html.DisplayFor(modelItem => item.CreatedDt)
                                    </td>


                                </tr>

                                i++;

                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>

        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                alert("@Html.Raw(ViewBag.Message)");
            };
            </script>
        }

    </section>

</div>
